<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head.ejs') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('../components/navbar.ejs') %>
    <div class="container mt-4">
        <h2>In the <%= title %></h2>
    </div>
</body>
</html>